/* desktop < 1440px */

@media screen and (min-width: $tablet + 1px) and (max-width: $desktop) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* logo */

  .header {
    width: 100%;
    padding-top: 20px;
    color: white;
    text-align: center;
    background: url(../../img/header.jpg) no-repeat #45403d;
    background-size: cover;
  }

  .header__image {
    width: 50px;
    height: 50px;
    fill: white;
  }

  .header__image:hover {
    fill: cyan;
  }

  /* logo for internet explorer < 9 */

  .header__image.ie {
    display: none;
  }

  .header__title {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: $mano;
    font-weight: bold;
  }

  .header__text {
    width: 95%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: $bold;
    font-weight: bold;
  }

  /* menu */

  .header__menu {
    width: 100%;
    border-bottom: 1px solid black;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
    @include background-gradient(#ffffff, #f6f6f6, #ededed);
  }

  /* menu for mobile and tablet */

  .header__menu.mobile {
    display: none;
  }

  .header__list {
    width: 95%;
    margin: 0px auto;
    list-style: none;
    overflow: hidden;
  }

  .header__item {
    width: 10%;
    display: inline;
    float: left;
    cursor: pointer;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: $regular;
    font-size: 14px;
    color: $black;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      background: $black;
      color: white;
    }

    &:hover .header__sublist {
      display: block;
    }
  }

  .header__sublist {
    width: 9.4%;
    display: none;
    margin-top: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    position: absolute;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
  }

  .header__subitem {
    border-bottom: 1px dotted #cccccc;

    &:last-child {
      border-bottom: none;
    }
  }

  .header__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: $black;
    font-family: $regular;
    font-size: 12px;

    &:hover {
      background: lightgrey;
      color: white;
    }
  }

  /* content */

  .main {
    display: block;
    width: 100%;
    margin: 150px auto;
  }

  .main__list {
    list-style: none;
  }

  .main__item {
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
    display: none;
    height: auto;
    text-align: justify;
    line-height: 25px;
    color: $black;
  }

  .main__image {
    width: 47%;
    height: 420px;
    display: inline;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px dashed $black;
  }

  .main__title {
    font-family: $bold;
    font-size: 16px;
  }

  .main__text {
    margin-top: 10px;
    width: 47%;
    display: inline;
    float: left;
    font-style: italic;
    font-family: $italic;
    font-size: 16px;
  }

  .main__item.active {
    display: block;
  }

  /* icons */

  .footer {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    background: $black;
  }

  .footer__list {
    width: 95%;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
  }

  /* icons for internet explorer < 9 */

  .footer__list.ie {
    display: none;
  }

  .footer__item {
    width: 10%;
    display: inline;
    float: left;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .footer__image {
    width: 50px;
    height: 50px;
  }
}

/* desktop > 1440px */

@media screen and (min-width: $desktop + 1px) {
  body {
    width: auto;
  }

  /* logo */

  .header {
    width: 100%;
    padding-top: 20px;
    color: white;
    text-align: center;
    background: url(../../img/header.jpg) no-repeat #45403d;
    background-size: cover;
  }

  .header__image {
    width: 50px;
    height: 50px;
    fill: white;
  }

  .header__image:hover {
    fill: cyan;
  }

  /* logo for internet explorer < 9 */

  .header__image.ie {
    display: none;
  }

  .header__title {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: $mano;
    font-weight: bold;
  }

  .header__text {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: $bold;
    font-weight: $bold;
  }

  /* menu */

  .header__menu {
    width: 100%;
    border-bottom: 1px solid black;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
    @include background-gradient(#ffffff, #f6f6f6, #ededed);
  }

  /* menu for mobile and tablet */

  .header__menu.mobile {
    display: none;
  }

  .header__list {
    width: 95%;
    margin: 0px auto;
    list-style: none;
    overflow: hidden;
  }

  .header__item {
    width: 10%;
    display: inline;
    float: left;
    cursor: pointer;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: $regular;
    font-size: 16px;
    color: $black;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      background: $black;
      color: white;
    }

    &:hover .header__sublist {
      display: block;
    }
  }

  .header__sublist {
    width: 9.4%;
    display: none;
    margin-top: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    position: absolute;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
  }

  .header__subitem {
    border-bottom: 1px dotted #cccccc;

    &:last-child {
      border-bottom: none;
    }
  }

  .header__link {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: $black;
    font-family: $regular;
    font-size: 16px;

    &:hover {
      background: lightgrey;
      color: white;
    }
  }

  /* content */

  .main {
    display: block;
    width: 100%;
    margin: 150px auto;
  }

  .main__list {
    list-style: none;
  }

  .main__item {
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
    display: none;
    height: auto;
    text-align: justify;
    line-height: 25px;
    color: $black;
  }

  .main__image {
    width: 48%;
    height: 420px;
    display: inline;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px dashed $black;
  }

  .main__title {
    font-family: $bold;
    font-size: 16px;
  }

  .main__text {
    margin-top: 10px;
    width: 48%;
    display: inline;
    float: left;
    font-style: italic;
    font-family: $italic;
    font-size: 16px;
  }

  .main__item.active {
    display: block;
  }

  /* icons */

  .footer {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    background: $black;
  }

  .footer__list {
    width: 95%;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
  }

  /* icons for internet explorer < 9 */

  .footer__list.ie {
    display: none;
  }

  .footer__item {
    width: 10%;
    display: inline;
    float: left;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .footer__image {
    width: 50px;
    height: 50px;
  }
}
