/* desktop < 1440px */

@media screen and (min-width: $tablet + 1px) and (max-width: $desktop) {
  body {
    width: $desktop;
  }

  /* logo */

  header {
    width: $desktop;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    text-align: center;
    background: url(../../img/header.jpg) no-repeat;
    background-size: cover;

    img {
      width: 50px;
    }

    h1 {
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: $font-size + 12px;
      font-family: $mano;
    }

    p {
      margin-bottom: 20px;
      font-size: $font-size;
      font-family: $aleor;
    }
  }

  /* menu */

  main {
    width: $desktop;
  }

  .main__wrapper {
    border-bottom: 1px solid black;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  }

  .main__list {
    width: $desktop - 200px;
    margin: 0px auto;
    list-style: none;
    overflow: hidden;
  }

  .main__item {
    display: inline;
    float: left;
    cursor: pointer;
    margin-right: 65px;
    text-align: center;

    a {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      color: $black;
      font-family: $aleor;
      font-size: $font-size - 4px;
    }

    ul {
      display: none;
      margin-left: -30px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      list-style: none;
      position: absolute;
      @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));

      li a {
        text-decoration: none;
        color: $black;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    &:hover ul {
      display: block;
    }
  }

  .main__subitem {
    border-bottom: 1px dotted #cccccc;

    a:hover {
      background: $black;
      color: $white;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  /* information */

  section {
    width: $desktop;
    margin: 150px auto;

    .active {
      display: block;
    }
  }

  .section__list {
    list-style: none;
  }

  .section__item {
    width: $desktop - 200px;
    margin: 0px auto;
    overflow: hidden;
    display: none;
    height: auto;
    text-align: justify;
    line-height: 25px;
    font-family: $aleor;
    font-size: $font-size - 4px;
    color: $black;

    img {
      width: $desktop - 850px;
      height: 420px;
      display: inline;
      float: left;
      margin-right: 20px;
      padding-right: 20px;
      border-right: 2px dashed $black;
    }

    p {
      margin-top: 10px;
      width: $desktop - 850px;
      display: inline;
      float: left;
      font-style: italic;
    }
  }

  /* icons */

  footer {
    width: $desktop;
    margin-top: 20px;
    padding-top: 20px;
    background: $black;
  }

  .footer__list {
    width: $desktop - 200px;
    margin: 0px auto;
    overflow: hidden;
  }

  .footer__item {
    width: 50px;
    display: inline;
    float: left;
    margin-right: 80px;
    margin-bottom: 20px;

    img {
      width: 50px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

/* desktop > 1440px */

@media screen and (min-width: $desktop + 1px) {
  body {
    width: auto;
  }

  /* logo */

  header {
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    text-align: center;
    background: url(../../img/header.jpg) no-repeat;
    background-size: cover;

    img {
      width: 50px;
    }

    h1 {
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: $font-size + 12px;
      font-family: $mano;
    }

    p {
      margin-bottom: 20px;
      font-size: $font-size;
      font-family: $aleor;
    }
  }

  /* menu */

  main {
    width: auto;
  }

  .main__wrapper {
    border-bottom: 1px solid black;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  }

  .main__list {
    width: $desktop - 200px;
    margin: 0px auto;
    list-style: none;
    overflow: hidden;
  }

  .main__item {
    display: inline;
    float: left;
    cursor: pointer;
    margin-right: 65px;
    text-align: center;

    a {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      color: $black;
      font-family: $aleor;
      font-size: $font-size - 4px;
    }

    ul {
      display: none;
      margin-left: -30px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      list-style: none;
      position: absolute;
      @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));

      li a {
        text-decoration: none;
        color: $black;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    &:hover ul {
      display: block;
    }
  }

  .main__subitem {
    border-bottom: 1px dotted #cccccc;

    a:hover {
      background: $black;
      color: $white;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  /* information */

  section {
    width: auto;
    margin: 150px auto;

    .active {
      display: block;
    }
  }

  .section__list {
    list-style: none;
  }

  .section__item {
    width: $desktop - 200px;
    margin: 0px auto;
    overflow: hidden;
    display: none;
    height: auto;
    text-align: justify;
    line-height: 25px;
    font-family: $aleor;
    font-size: $font-size - 4px;
    color: $black;

    img {
      width: $desktop - 850px;
      height: 420px;
      display: inline;
      float: left;
      margin-right: 20px;
      padding-right: 20px;
      border-right: 2px dashed $black;
    }

    p {
      margin-top: 10px;
      width: $desktop - 850px;
      display: inline;
      float: left;
      font-style: italic;
    }
  }

  /* icons */

  footer {
    width: auto;
    margin-top: 20px;
    padding-top: 20px;
    background: $black;
  }

  .footer__list {
    width: $desktop - 200px;
    margin: 0px auto;
    overflow: hidden;
  }

  .footer__item {
    width: 50px;
    display: inline;
    float: left;
    margin-right: 80px;
    margin-bottom: 20px;

    img {
      width: 50px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}
