/* mobile */

@media screen and (max-width: $mobile) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* header */

  .header {
    width: 100%;
    padding-top: 20px;
    color: white;
    text-align: center;
    background: url(../../img/header.jpg) no-repeat #45403d;
    background-size: cover;
  }

  /* logo */

  .header__image {
    width: 50px;
    height: 50px;
    fill: white;
  }

  /* logo for internet explorer < 9 */

  .header__image.ie {
    display: none;
  }

  .header__title {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: $mano;
    font-weight: bold;
  }

  .header__text {
    width: 95%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: $bold;
    font-weight: bold;
  }

  /* menu */

  .header__menu {
    display: none;
    width: 100%;
    border-bottom: 1px solid black;
    @include box-shadow(3px 3px 5px 0px rgba(0,0,0,0.75));
    @include background-gradient(#ffffff, #f6f6f6, #ededed);
  }

  /* menu for mobile and tablet */

  .header__menu.mobile {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* modal window */

  .header__modal-button {
    width: 100%;
    font-family: $regular;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background: none;
    outline: none;
    border: none;
  }

  .header__modal-window {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
    overflow-y: scroll;
  }

  .header__modal-window > div {
    width: 100%;
    height: 150%;
    padding-top: 80px;
    background: rgba(128, 128, 128, 0.8);
  }

  .header__modal-close {
    color: maroon;
    position: absolute;
    right: 40px;
    top: 20px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    background: none;
    outline: none;
    border: none;
  }

  .header__list {
    width: 100%;
    list-style: none;
    position: absolute;
  }

  .header__item {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $regular;
    font-size: 20px;
    color: white;
    font-size: 36px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }

  .header__link {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: cyan;
    font-family: $regular;
    font-size: 36px;
  }

  .header__sublist {
    display: none;
  }

  /* content */

  .main {
    display: block;
    width: 100%;
    margin: 50px auto;
  }

  .main__list {
    list-style: none;
  }

  .main__item {
    display: block;
    width: 95%;
    margin: 0px auto;
    overflow: hidden;
    display: none;
    height: auto;
    text-align: justify;
    line-height: 25px;
    color: $black;
  }

  .main__image {
    width: 95%;
    margin: 0px auto;
    height: 220px;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed $black;
  }

  .main__title {
    width: 95%;
    margin: 0px auto;
    margin-top: 10px;
    display: block;
    font-family: $bold;
    font-size: 16px;
    font-weight: bold;
  }

  .main__text {
    width: 95%;
    margin: 0px auto;
    margin-top: 10px;
    display: block;
    font-style: italic;
    font-family: $italic;
    font-size: 16px;
  }

  .main__item.active {
    display: block;
  }

  /* footer */

  .footer {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    background: $black;
  }

  /* icons */

  .footer__list {
    width: 95%;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
  }

  /* icons for internet explorer < 9 */

  .footer__list.ie {
    display: none;
  }

  .footer__item {
    width: 20%;
    display: inline;
    float: left;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .footer__image {
    width: 50px;
    height: 50px;
  }
}
