$aleor:     'Aleor Regular', Arial, sans-serif;
$mano:      'WC Mano Negra Bta', Arial, sans-serif;
$font-size: 20px;
$mobile:    320px;
$tablet:    768px;
$desktop:   1440px;
$black:     #3b3b3b;
$white:     #ffffff;
