$bold:      'Aleo Bold', Arial, sans-serif;
$italic:    'Aleo Italic', Arial, sans-serif;
$regular:   'Aleo Regular', Arial, sans-serif;
$mano:      'WC Mano Negra Bta', Arial, sans-serif;
$mobile:    320px;
$tablet:    768px;
$desktop:   1440px;
$black:     #3b3b3b;
