/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, main, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
}

/* internet explorer < 9 */

body {
  width: 100%;
}

/* logo */

.header {
  width: 100%;
  padding-top: 20px;
  color: #ffffff;
  text-align: center;
  background: url(../../img/header.jpg) center center no-repeat #45403d;
}

.header__image {
  display: none;
  width: 50px;
  fill: white;
}

/* logo for internet explorer < 9 */

.header__image.ie {
  display: block;
  margin: 0px auto;
}

.header__title {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: "WC Mano Negra Bta", Arial, sans-serif;
  font-weight: bold;
}

.header__text {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Aleo Bold", Arial, sans-serif;
  font-weight: bold;
}

/* menu */

.header__menu {
  width: 99%;
  margin: 0px auto;
  border-bottom: 1px solid black;
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

/* menu for mobile and tablet */

.header__menu.mobile {
  display: none;
}

.header__list {
  width: 95%;
  margin: 0px auto;
  list-style: none;
}

.header__item {
  width: 10%;
  display: inline;
  float: left;
  cursor: pointer;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Aleo Regular", Arial, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__item:hover {
  background: #3b3b3b;
  color: #ffffff;
}

.header__item:hover .header__sublist {
  display: block;
}

.header__sublist {
  width: 9.4%;
  display: none;
  margin-top: 8px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  list-style: none;
  position: absolute;
}

.header__subitem {
  border-bottom: 1px dotted #cccccc;
}

.header__subitem:last-child {
  border-bottom: none;
}

.header__link {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #3b3b3b;
  font-family: "Aleo Regular", Arial, sans-serif;
  font-size: 16px;
}

.header__link:hover {
  background: lightgrey;
  color: #ffffff;
}

/* content */

.main {
  width: 100%;
  margin: 150px auto;
}

.main__list {
  margin: 150px auto;
  list-style: none;
}

.main__item {
  width: 95%;
  margin: 0px auto;
  overflow: hidden;
  height: auto;
  text-align: justify;
  line-height: 25px;
  color: #3b3b3b;
}

.main__image {
  width: 48%;
  height: 420px;
  display: inline;
  float: left;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 2px dashed #3b3b3b;
}

.main__title {
  font-weight: bold;
  font-family: "Aleo Bold", Arial, sans-serif;
  font-size: 16px;
}

.main__text {
  margin-top: 10px;
  width: 48%;
  display: inline;
  float: left;
  font-style: italic;
  font-family: "Aleo Italic", Arial, sans-serif;
  font-size: 16px;
}

/* icons */

.footer {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  background: #3b3b3b;
}

.footer__list {
  display: none;
}

/* icons for internet explorer < 9 */

.footer__list.ie {
  display: block;
  width: 95%;
  margin: 0px auto;
  text-align: center;
  overflow: hidden;
}

.footer__item {
  width: 10%;
  display: inline;
  float: left;
  margin-bottom: 20px;
}

.footer__item:last-child {
  margin-right: 0px;
}

.footer__image {
  width: 50px;
}
